body {
	padding: 20px;
	max-width: min(60rem, 80%);
	margin-left: auto;
	margin-right: auto; 
	background-image: url('../../public/background2.webp');
	background-repeat: repeat;
	background-size:cover ;
}
.flexContainer {
	display: flex;
	gap: 3rem;
}

.width100 {
	width: auto !important;
}

.white {
	color: aliceblue;
}